$chart-windows-bg: rgba(32, 29, 29, 0.8);

.title-chart {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: linear-gradient(
    217deg,
    rgba(80, 79, 79, 0),
    rgba(23, 70, 163, 0.8) 70.71%
  );
  font-family: Open\Sans;
  font-size: 32px;
  color: #fff;
  text-shadow: 1px 1px 2px #000, 0 0 1em #fff;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.js-chart {
  @media screen and (min-width: $tablet-bp-min) {
    max-width: 500px;
  }
  max-width: 250px;
  margin: 0 auto;
}

.charts {
  padding: 10px;
  background-color: $chart-windows-bg;
  border: none;
  border-radius: 0.5rem;
}
