.exchange-rate-and-calculator-wrapper {
    width: 100%;
    margin-bottom: 10px;

  @media screen and (min-width: $tablet-bp-min) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly; 
    column-gap: 15px;
  }
}

.exchange-rate-national-bank {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.exchange-rate-national-bank__list {
    background-color: rgba(121, 117, 117, 0.8);
    border: none;
    border-radius: 0.5rem;
    width: 100%;

    @media screen and (min-width: $desktop-bp-min) {
        width: 350px;
        margin: 0 auto;
    }
}

.exchange-rate-national-bank__title {
    font-family: Open\Sans;
    font-size: 32px;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 1em #fff;
    text-align: center;
    background-color: rgba(23, 70, 163, 0.8);
    display: block;
    border: none;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin-bottom: 10px;
}

.exchange-rate-national-bank__item {
    font-family: Open\Sans;
    font-size: 26px;
    color: rgb(34, 33, 33);
    padding-left: 60px;
    padding-bottom: 4px;

    &:last-child {
        padding-bottom: 10px;
    }

    @media screen and (min-width: $tablet-bp-min) {
        padding-left: 92px;
    }
}

.exchange-rate-national-bank__item-cost {
    padding-left: 16px;
}